#stringTuning0{
cursor: pointer;
}
#stringTuning1{
cursor: pointer;
}
#stringTuning2{
cursor: pointer;
}
#stringTuning3{
cursor: pointer;
}
#stringTuning4{
cursor: pointer;
}
#stringTuning5{
cursor: pointer;
}
#stringTuning6{
cursor: pointer;
}

#noteSelect{
    position: absolute;
    left:0px;
    top:0px;
    display:none;
}

.strikethrough {
    position: relative;
  }
  .strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
  
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }

  .GNpointer {
    cursor: pointer;
  }